/* GENERAL */
body {
    font-family: arial,sans-serif;
}

.transition03 {
    transition: 0.3s;
}

#index_body {
    background-color: DarkSalmon;
}

.v_separator {
    height: 20px;
    width: 100%;
}

#graph_iframe {
    width:1200px;
    height:600px;
    position: fixed;
    top: 0px;
    left: 160px;
    overflow: hidden;
    background-color: White;
    border-right: 4px solid SaddleBrown;
    border-bottom: 4px solid SaddleBrown;
}

.graph_data {
    display: none;
}

#sidebar {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: Blue;
    overflow-x: hidden;
    padding-top: 20px;
    border-right: 4px solid RebeccaPurple;
}

#msg_box {
    height: 150px;
    width: 90%;
    background-color: white;
    overflow-y: scroll;
    overflow-x: disabled;
}

/* LOGIN PAGE */\

.login-body {
    
}

.login-form-holder {
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%, -10%);
    width: 350px;
    margin: 0px;
    padding: 100px;
    border: 1px darkgray solid;
    border-radius: 5px;
    box-shadow: 3px 3px #c1c1c1;
}

.login-form-holder:hover {
    box-shadow: 6px 6px #c9c9c9;
}

.heading1 {
    margin: auto;
    max-width: 200px;
    text-align: center;
    padding-bottom: 50px;
    font-size: 2em;
}

.login-txt-field {
    display: block;
    margin: auto;
    max-width: 200px;
    padding: 5px;
    margin-bottom: 5px;
    border: 2px black solid;
    border-radius: 3px;
}

.login-txt-field:hover {
    background-color: #dddddd;
}

.login-button {
    display: block;
    margin: auto;
    width: 100px;
    border: 1px black solid;
    border-radius: 5px;
    padding: 5px;
    margin-top: 20px;
    text-align: center;
}

.login-button:hover {
    background-color: #dddddd;
}




