/* GENERAL */
/* top color #FFCCFF
 * bottom color: #6699FF
*/
body {
    font-family: arial,sans-serif;
    /*background-color: #f2f2f2;*/
    background-color: salmon;
}

.transition03 {
    transition: 0.3s;
}

.graph-block {
    background-color: #faebd7;
}

#index_body {
    background-color: DarkSalmon;
}

.v_separator {
    height: 20px;
    width: 100%;
}

#graph_iframe {
    width:1200px;
    height:600px;
    position: fixed;
    top: 0px;
    left: 160px;
    overflow: hidden;
    background-color: White;
    border-right: 4px solid SaddleBrown;
    border-bottom: 4px solid SaddleBrown;
}

.graph_data {
    display: none;
}

#sidebar {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: Blue;
    overflow-x: hidden;
    padding-top: 20px;
    border-right: 4px solid RebeccaPurple;
}

#msg_box {
    height: 150px;
    width: 90%;
    background-color: white;
    overflow-y: scroll;
    overflow-x: disabled;
}

/* LOGIN PAGE */\

body.login-body {
   background-color: #d9d9d9;
}

.login-form-holder {
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%, -10%);
    min-width: 350px;
    width: auto;
    height: auto;
}

.login-form {
    display: block;
    margin: 10px;
    padding: 50px;
    /*background-color: #f9f9f9;*/
    background-color: #ffccff;
    border: 1px darkgray solid;
    border-radius: 5px;
    box-shadow: 2px 2px #c1c1c1;
}

.login-form:hover {
    box-shadow: 4px 4px #c9c9c9;
    /*background-color: #ffffff;*/
    background-color: #d9bfff;
}

.heading1 {
    margin: auto;
    max-width: 200px;
    text-align: center;
    padding-bottom: 50px;
    font-size: 2em;
}

.login-txt-field {
    display: block;
    margin: auto;
    width: 150px;
    height: 30px;
    padding: 5px;
    margin-bottom: 5px;
    border: 2px black solid;
    border-radius: 3px;
    font-size: 1.5em;
}

.login-txt-field:hover {
    background-color: #dddddd;
}

.login-button {
    display: block;
    margin: auto;
    width: 150px;
    height: 30px;
    border: 2px black solid;
    border-radius: 5px;
    padding: 5px;
    margin-top: 20px;
    text-align: center;
    background-color: #ffffff;
    font-size: 1.5em;
}

.login-button:hover {
    background-color: #dddddd;
    cursor: pointer;
}




