/* GENERAL */
/* top color #FFCCFF
 * bottom color: #6699FF
*/
body {
    font-family: arial,sans-serif;
    /*background-color: #f2f2f2;*/
    background-color: salmon;
}

.transition03 {
    transition: 0.3s;
}

.graph-block {
    background-color: #faebd7;
}

.content-container {
    margin: 0px 5px 0px 5px;
}

.graph-block {
    display: block;
    margin: auto;
    height: 500px;
    width: auto;
    max-width: 1000px;
    overflow-x: scroll;
    overflow-y: hidden;
}

.graph-holder {
    width: 1000px
}

/* LOGIN PAGE */

.login-form-holder {
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%, -10%);
    min-width: 350px;
    width: auto;
    height: auto;
}

.login-form {
    display: block;
    margin: 10px;
    padding: 50px;
    /*background-color: #f9f9f9;*/
    background-color: #ffccff;
    border: 1px darkgray solid;
    border-radius: 5px;
    box-shadow: 2px 2px #c1c1c1;
}

.login-form:hover {
    box-shadow: 4px 4px #c9c9c9;
    /*background-color: #ffffff;*/
    background-color: #d9bfff;
}

.heading1 {
    margin: auto;
    max-width: 200px;
    text-align: center;
    padding-bottom: 50px;
    font-size: 2em;
}

.login-txt-field {
    display: block;
    margin: auto;
    width: 150px;
    height: 30px;
    padding: 5px;
    margin-bottom: 5px;
    border: 2px black solid;
    border-radius: 3px;
    font-size: 1.5em;
}

.login-txt-field:hover {
    background-color: #dddddd;
}

.login-button {
    display: block;
    margin: auto;
    width: 150px;
    height: 30px;
    border: 2px black solid;
    border-radius: 5px;
    padding: 5px;
    margin-top: 20px;
    text-align: center;
    background-color: #ffffff;
    font-size: 1.5em;
}

.login-button:hover {
    background-color: #dddddd;
    cursor: pointer;
}




